@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

/* base styles */
* {
  margin: 0; /* Corrected margin value to 0 */
  font-family: 'Outfit', sans-serif;
  color: #678E6B;
}

/* CSS */
.navbar {
  background-color: rgb(66, 66, 66); /* Set background color */
  color: #fff; /* Set text color */
  display: flex;
  justify-content: space-between; /* Space out the elements */
  align-items: center;
  padding: 20px 20px; /* Add some padding for spacing */
}

.navbar h1 {
  font-size: 20px; /* Adjust font size */
  margin: 0;
}

.navbar .links {
  display: flex;
  gap: 30px; /* Add spacing between links */
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Set link color */
  transition: color 0.3s; /* Smooth color transition on hover */

}

.navbar a:hover {
  color: #678E6B; /* Change link color on hover */
}

.navbar a.active {
  text-decoration: underline;
  color: #839f86;
}

.content {
  max-width: 600px;
  margin: 20px auto; /* Adjusted margin for better centering */
  padding: 20px;
}

/* Add these styles to your CSS file */
/* Adjust the styles for .Home to center its content */
.Home {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the component fills the entire viewport height */
}

h1{
  text-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.43);
}

.home-title {
  font-size: 28px;
  color: #333;
}

.home-text {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

/* Default styles for .pink-text */
.pink-text {
  color: #B58484;
  font-weight: 400;
  line-height: normal;
  transition: text-shadow 0.3s; /* Add a smooth transition for the text shadow */
}

.kitty {
  text-decoration: underline;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; 
  font-size: 20px; 
  line-height: 1.5;
  color: #333; /* Set the text color */
  text-align: justify; /* Align the text to the left */
  margin: 0; /* Remove default margins */
}


