@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');


* {
  margin: 0; 
  font-family: 'Outfit', sans-serif;
  color: #859e87;
}

/* CSS */
.navbar {
  background-color: #666; 
  color: #fff; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; 
}

.navbar h1 {
  font-size: 20px; 
  margin: 0;
  color: #d0aaaa;
}

.navbar .links {
  display: flex;
  gap: 40px; 
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;

}

.navbar a:hover {
  color: #d3c2c2;
}

.navbar a.active {
  text-decoration: underline;
  color: #93a094;
}

.content {
  max-width: 700px;
  max-height: 700px;
  margin: 20px auto;
  padding: 20px;
}

.Home {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 700px;
  border-radius: 10px;
}

.App {
  border-radius: 10px;
}

h1{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kliu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color:#666;
}

.kliu h1 {
  color:#666;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  
}

@keyframes typing {
  to {
    border-right: 2px solid #000; 
  }
}

.home-title {
  font-size: 30px;
  color: #333;
}

.home-text {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.pink-text {
  color: #d0aaaa;
  font-weight: 400;
  line-height: normal;
  transition: text-shadow 0.3s; 
}

.kitty {
  text-decoration: underline;
  color: #666;
}

.kitty:hover {
  text-decoration: underline;
  color: #d0aaaa;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; 
  font-size: 18px; 
  line-height: 1.5;
  color: #333; 
  text-align: justify; 
  margin: 0; 
}

.with-shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}

.contentwithshadow {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background: linear-gradient(to right, #d0aaaa, #859e87);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: outline-offset 0.3s ease, outline-color 0.3s ease; /* Add transition for smooth effect */
  outline: 2px solid transparent; /* Set initial outline to be transparent */
}

.contentwithshadow:hover {
  outline-offset: 10px; /* Adjust the outline offset on hover */
  outline-color: #666; /* Change the outline color on hover */
}

.about-container {
  width: 900px; 
  margin: 0 auto; 
  padding: 20px; 
}

.about-text {
  font-family: 'Outfit';
  font-size: 60px;
  color: #666;
  text-align: left;
  margin: 0;
  flex: 1;
  padding-left: 40px;
}

.about-me {
  font-family: 'Outfit';
  font-size: 18px;
  color: #666;
  text-align: justify;
  margin: 0;
  padding: 10px;
}

.about-content {
  display: flex;
  align-items: center;
}

.aboutPic:hover {
  box-shadow: 0 0 10px rgb(197, 137, 137);
}


.typewriter-text {
  display: inline;
  font-size: 60px;
  background: linear-gradient(to right, #d0aaaa, #859e87);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: #859e87;
  margin-left: 4px;
  animation: blink 0.4s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.container {
  display: flex;
  gap: 20px; 
}

.current {
  flex: 1; 
  padding: 30px; 
  border: 5px solid #d0aaaa; 
  border-radius: 20px; 
  color: #666; 
}

.past {
  flex: 1; 
  padding: 30px; 
  border: 5px solid #859e87; 
  border-radius: 20px; 
  color: #666; 
}

.current:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.past:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list1, .list2 {
  list-style-type: none;
  padding: 0;
  color: #666;
  margin-bottom: 10px;
}

.item11, .item12, .item21, .item22, .item23 {
  color: #666;
  margin-bottom: 10px;
}

.list1 li::before {
  content: '👩‍💻'; 
  margin-right: 10px; 
}

.list2 li::before {
  content: '🎵'; 
  margin-right: 10px; 
}


@media (max-width: 600px) {
  .about-container {
    width: 90%; 
    padding: 10px;
  }

  .about-text {
    font-size: 40px; 
    padding-left: 20px;
  }

  .about-me {
    font-size: 16px; 
    padding: 5px;
  }
}


.footer {
  text-align: center;
  padding: 10px;
}

.footer p {
  text-align: center;
  padding: 50px;
  color: #666;
  font-size: 16px;
}

.backdrop{
  color:#333
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .links {
    margin-top: 10px; 
    flex-direction: column; 
    text-align: center; 
  }

  .links a {
    margin-right: 0; 
    margin-bottom: 5px; 
  }

  .about-content {
    flex-direction: column;
    text-align: left;
    align-items: left;
  }

  .about-text {
    font-size: 35px;
    text-align: left; /* Align text to the left on smaller screens */
  }

  .typewriter-text {
    font-size: 35px;
    text-align: left; /* Adjust font size for smaller screens */
  }

}
