@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');


/* base styles */
* {
  margin: 0; /* Corrected margin value to 0 */
  font-family: 'Outfit', sans-serif;
  color: #859e87;
}

/* CSS */
.navbar {
  background-color: #666; /* Set background color */
  color: #fff; /* Set text color */
  display: flex;
  justify-content: space-between; /* Space out the elements */
  align-items: center;
  padding: 20px 20px; /* Add some padding for spacing */
}

.navbar h1 {
  font-size: 20px; /* Adjust font size */
  margin: 0;
  color: #d0aaaa;
}

.navbar .links {
  display: flex;
  gap: 40px; /* Add spacing between links */
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Set link color */
  transition: color 0.3s; /* Smooth color transition on hover */

}

.navbar a:hover {
  color: #d3c2c2; /* Change link color on hover */
}

.navbar a.active {
  text-decoration: underline;
  color: #93a094;
}

.content {
  max-width: 700px;
  max-height: 700px;
  margin: 20px auto; /* Adjusted margin for better centering */
  padding: 20px;
}

/* Add these styles to your CSS file */
/* Adjust the styles for .Home to center its content */
.Home {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 700px;
  border-radius: 10px;
}

.App {
  border-radius: 10px;
}

h1{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kliu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color:#666;
}

.kliu h1 {
  color:#666;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  
}

@keyframes typing {
  to {
    border-right: 2px solid #000; /* Customize the cursor color */
  }
}

.home-title {
  font-size: 30px;
  color: #333;
}

.home-text {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}
/* Default styles for .pink-text */
.pink-text {
  color: #d0aaaa;
  font-weight: 400;
  line-height: normal;
  transition: text-shadow 0.3s; /* Add a smooth transition for the text shadow */
}

.kitty {
  text-decoration: underline;
  color: #666;
}

.kitty:hover {
  text-decoration: underline;
  color: #d0aaaa;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; 
  font-size: 18px; 
  line-height: 1.5;
  color: #333; /* Set the text color */
  text-align: justify; /* Align the text to the left */
  margin: 0; /* Remove default margins */
}

.with-shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}

.contentwithshadow {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: linear-gradient(to right, #d0aaaa, #859e87);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-container {
  width: 800px; /* Adjust the maximum width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding */
}

.about-text {
  font-family: 'Outfit';
  font-size: 60px;
  color: #666;
  text-align: left;
  margin: 0;
  flex: 1;
  padding-left: 40px;
}

.about-me {
  font-family: 'Outfit';
  font-size: 18px;
  color: #666;
  text-align: justify;
  margin: 0;
  padding: 10px;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.typewriter-text {
  display: inline;
  font-size: 60px;
  background: linear-gradient(to right, #d0aaaa, #859e87);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: #859e87;
  margin-left: 4px;
  animation: blink 0.4s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Responsive Styles */
@media (max-width: 600px) {
  .about-container {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .about-text {
    font-size: 40px; /* Adjust font size for smaller screens */
    padding-left: 20px; /* Adjust left padding for smaller screens */
  }

  .about-me {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }
}


.footer {
  text-align: center;
  padding: 10px;
}

.footer p {
  text-align: center;
  padding: 50px;
  color: #666;
  font-size: 16px;
}

.backdrop{
  color:#333
}


