
.portfolio {
    text-align: center;
    margin: 20px;
  }
  
  header {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 30%;
    align-items: center;
    margin: 0 auto; 
  }
  
  h1 {
    margin: 0;
    color: #666;
  }
  
  .toggles {
    margin-top: 20px;
  }
  
  button {
    background-color: #859e87;
    color: #f0f0f0;
    border: 2px solid #666;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #d0aaaa;
    color: #fff;
  }

  button:active {
    background-color: #d0aaaa;
    color: #fff;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .project {
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    width: 300px;
  }
  
  .project h2 {
    color: #859e87;
  }
  
  .project p {
    color: #666;
    text-justify: auto;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
    color: #666;
  }
  
  .project a:hover {
    text-decoration: wavy;
  }

  .image-container {
    width: 100%; 
    padding-bottom: 100%; 
    overflow: hidden; 
    position: relative; 
  }
  
  .image-container img {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 0; 
    left: 0;
  }
